.Header-container{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    align-items: center;
    border-bottom: 2px solid;
    border-color: #f99820;
}
.user-name-intro{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: center;
   
}
.button-navs{
    display: flex;
    align-items: center;
   
}
.welcome-text{
    background-color: #2b68b3;
    min-width: 1000px;
}
.name{
    font-family: monospace;
    color: #f99820;  
    margin-bottom: 10px;
    margin-left:5px;
}
.genois-text{
    font-family: monospace;
    color: #f99820;
    font-size: 3em;
    margin-bottom: 0;
}
.user-name-intro{
   width:auto;

    
}
.second-text{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 2px;
    font-style: italic;
    font-family: monospace;
    color: rgb(253, 246, 246);
}