.constraint{
    height: 100px;
    width:100px;
}
.side-drawer-container{
    display: flex;
    
}
.middle-section-container{
    display: grid;
    grid-template-columns: 15% 85%;
    
}
.display-section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
}